$white: #f8fafc;
$orange: #ff5e20;
$blue: #3498db;
$black: #0d364d;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
  overflow-x: hidden;
  color: $black;

  *::first-letter {
    text-transform: uppercase;
  }
  a,
  button {
    font-family: "poppins";
    font-weight: 400;
    user-select: none;
    text-decoration: none;
    cursor: pointer;
  }
  *,
  :after,
  :before {
    box-sizing: inherit;
  }
}
.navbar {
  height: 80px;
  width: 100vw;
  z-index: 999;
  position: fixed;
  top: 0;
  background-color: white;
  box-shadow: 4px 4px 10px rgba($color: $black, $alpha: 0.15);
  transition: all 200ms ease;

  nav {
    width: 100%;
    height: 80px;
    max-width: 1380px;
    margin: auto;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
      height: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      margin: 0;
      position: absolute;
      left: 50%;
      top: 0;
      list-style: none;
      transform: translate(-50%, 0);

      li {
        padding: 20px;
        margin: 0 5px;
        a {
          opacity: 0.5;
          color: $black;
          transition: all 200ms ease;
          font-size: 14px;

          &:hover {
            opacity: 1;
          }
        }
      }
    }

    .log-section {
      .log-btn {
        .log-in-btn {
          background-color: transparent;
          color: $orange;
          padding: 5px 10px;
          border: none;
          margin: 0 10px;

          &:hover {
            opacity: 0.8;
          }
        }
        .log-up-btn {
          background-color: transparent;
          color: $orange;
          padding: 5px 10px;
          border: 1px solid $orange;
          border-radius: 4px;
          margin: 0 10px;

          &:hover {
            background-color: $orange;
            color: $white;
          }
        }
      }
    }
  }
}
.logging-page {
  height: auto;
  min-height: 100vh;
  width: 100vw;
  background-color: $black;

  .loggin-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    background-color: $black;
    z-index: 0;

    .gradient {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-image: linear-gradient(
        90deg,
        $black 60%,
        rgba($color: $black, $alpha: 0) 100%
      );
    }

    img {
      position: absolute;
      right: 0;
      top: -100px;
      height: 130%;
      z-index: -1;
    }
  }

  .logging-container {
    z-index: 1;
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 1300px;
    padding: 100px 0 50px 30px;
    display: flex;
    align-items: flex-start;
    margin: 0 auto;

    .logging-content {
      width: fit-content;
      display: flex;
      flex-direction: column;
      color: rgba(255, 255, 255, 1);

      a {
        margin: 10px 10px 10px auto;
        color: $blue;
        font-size: 11pt;
      }

      .title {
        margin: 20px 0;
        p {
          color: rgba(255, 255, 255, 0.4);
          padding-left: 20px;
          font-size: 12pt;
          font-weight: 280;
          margin: 5px 0 0 0;
        }
        h1 {
          font-size: 34pt;
          margin: 5px 0 0 0;
        }
      }

      form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 360px;
        padding: 10px 30px 10px 30px;

        > div {
          width: 300px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 10px 0;
          padding-left: 10px;

          > label {
            width: inherit;
          }
          > input {
            width: auto;
            margin: auto 60px;
          }
        }

        input {
          width: 100%;
          outline: none;
          font-family: "Poppins";
          border-radius: 10px;
          padding: 10px 14px;
          margin: 10px 0;
          color: white;
          border: 1px solid rgba($color: $white, $alpha: 0.25);
          background-color: rgba($color: $white, $alpha: 0.07);

          &::placeholder {
            color: white;
            opacity: 0.5;
            font-weight: 280;
          }
        }

        input[name="city"],
        input[name="street"],
        input[name="firstName"],
        input[name="lastName"] {
          width: 46%;
        }

        .sign-in-btn {
          width: 100%;
          cursor: pointer;
          background-color: $orange;
          border: none;
          border-radius: 10px;
          font-family: "Poppins";
          color: white;
          line-height: 35px;
          margin: 20px 0 0 0;
        }

        .sign-up-btn {
          width: 200px;
          cursor: pointer;
          background-color: $orange;
          border: none;
          border-radius: 10px;
          font-family: "Poppins";
          color: white;
          line-height: 35px;
          margin: 20px auto 0 auto;
        }
        .google-sign-in-btn {
          width: 100%;
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: white;
          border: none;
          border-radius: 10px;
          font-family: "Poppins";
          color: $black;
          line-height: 35px;
          margin: 10px 0 0 0;

          img {
            height: 18px;
            margin-right: 10px;
          }
        }
        p {
          color: rgba($color: white, $alpha: 0.4);
          font-size: 10pt;
          font-weight: 280;
          margin: 25px auto 0 auto;
        }
      }
    }
  }
}
.search {
  min-height: 100vh;
  width: 100vw;
  padding-top: 80px;

  .search-input {
    width: 100%;
    background-color: rgba($color: $blue, $alpha: 0.5);
    padding: 30px 0;
    .search-input-container {
      width: 100%;
      max-width: 1000px;
      margin: auto;
      display: flex;
      justify-content: space-between;

      > div {
        display: flex;
        flex-direction: column;

        label {
          font-weight: 600;
          margin-bottom: 5px;
        }

        input,
        select {
          width: 250px;
          border-radius: 6px;
          padding: 6px 10px;
          text-transform: capitalize;
          font-family: "poppins";
          border: 1px solid rgba($color: $black, $alpha: 0.3);
          box-shadow: 0 0 8px rgba($color: $black, $alpha: 0.2);
          color: rgba($color: $black, $alpha: 0.6);
          outline: none;
          &::placeholder {
            color: rgba($color: $black, $alpha: 0.6);
          }
        }
      }
      button {
        margin-top: 30px;
        height: 34px;
        width: 120px;
        background-color: $orange;
        color: white;
        border: none;
        border-radius: 6px;
      }
    }
  }
  .result {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.048);
    min-height: calc(100vh - 80px - 130px);
    display: flex;
    flex-direction: column;
    padding: 40px calc((100vw - 1000px) / 2);

    > p {
      transform: translateX(-15px);
    }

    .result-container {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      gap: 26px;

      .result-item {
        background-color: white;
        box-shadow: 0 0 10px rgba($color: $black, $alpha: 0.1);
        width: 230px;
        height: 320px;
        border-radius: 6px;
        overflow: hidden;
        transition: all 200ms ease;

        &:hover {
          background-color: $blue;

          p,
          h4 {
            color: white;
          }
        }

        .item-img {
          height: 120px;
          width: 100%;
          img {
            object-fit: cover;
            object-position: 50% 10%;
            width: 100%;
            height: 100%;
          }
        }

        .item-content {
          padding: 15px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: calc(100% - 100px - 20px);

          * {
            margin: 0;
          }

          .title {
            display: flex;
            flex-direction: column;

            div {
              display: flex;
              justify-content: space-between;
              align-items: baseline;

              span {
                background-color: white;
                border: 2px solid #50d61b;
                color: #50d61b;
                font-weight: 700;
                border-radius: 4px;
                font-size: 10px;
                height: 18px;
                padding: 0 2px;
                display: flex;
                justify-content: center;
                align-items: center;
              }
            }

            p {
              opacity: 0.6;
              font-size: 14px;
            }
          }
          .detail {
            padding-top: 10px;
            opacity: 0.6;

            p {
              padding-top: 5px;
              font-size: 11px;
            }
          }
        }

        button {
          width: 100%;
          line-height: 35px;
          border: 1px solid rgba($color: $black, $alpha: 0.1);
          background-color: white;
          border-radius: 6px;
          font-weight: 500;

          &:hover {
            background-color: rgb(238, 238, 238);
          }
        }
      }
    }
  }
}
.doctor-rdv {
  height: 100vh;
  width: 100vw;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  z-index: 999;

  .bg {
    background-color: rgba(0, 0, 0, 0.308);
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
  }

  .rdv-container {
    background-color: white;
    position: relative;
    border-radius: 25px;
    height: 600px;
    width: 1000px;
    padding: 50px;
    display: flex;

    .close-btn {
      position: absolute;
      height: 20px;
      width: 20px;
      right: 30px;
      top: 30px;
      opacity: 0.5;
      transition: all 200ms ease;
      cursor: pointer;

      &:hover {
        opacity: 1;
      }

      &::after,
      &::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 2px;
        background-color: rgb(90, 90, 90);
        left: 50%;
        top: 50%;
        border-radius: 2px;
      }
      &::before {
        transform: translate(-50%, -50%) rotate(-45deg);
      }
      &::after {
        transform: translate(-50%, -50%) rotate(45deg);
      }
    }

    .doctor {
      width: 320px;
      min-width: 320px;

      .item-img {
        width: 100%;
        height: 180px;
        border-radius: 12px;
        overflow: hidden;

        img {
          object-fit: cover;
          object-position: 50% 10%;
          width: 100%;
          height: 100%;
        }
      }

      .title {
        margin-top: 40px;
        * {
          margin: 0;
        }
        div {
          display: flex;
          align-items: center;
          justify-content: space-between;
          h1 {
            font-size: 30px;
            font-weight: 600;
          }
          span {
            text-transform: uppercase;
            background-color: white;
            border: 2px solid #50d61b;
            color: #50d61b;
            font-weight: 700;
            border-radius: 4px;
            font-size: 14px;
            height: 25px;
            padding: 0 5px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
        p {
          padding-left: 20px;
          opacity: 0.6;
        }
      }

      .content {
        p {
          text-indent: 5px;
          font-size: 12px;
          opacity: 0.6;
        }
      }
    }

    hr {
      height: 80%;
      border: none;
      border-left: 1px solid rgba($color: $black, $alpha: 0.2);
      margin: auto 60px;
    }

    .form-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      .title {
        text-align: center;
        margin-bottom: 40px;
        h1 {
          margin-bottom: 0;
        }
        p {
          margin: 0;
          font-size: 14px;
          opacity: 0.5;
        }
      }

      form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        > div {
          display: flex;
          justify-content: space-between;
          gap: 40px;
        }
        .description {
          gap: 0;
          display: flex;
          flex-direction: column;

          textarea {
            height: 80px;
          }
        }

        label {
          font-weight: 500;
        }
        input,
        textarea {
          margin-top: 10px;
          margin-bottom: 15px;
          border: 1px solid rgba($color: $black, $alpha: 0.2);
          border-radius: 4px;
          box-shadow: 0 0 6px rgba($color: $black, $alpha: 0.15);
          padding: 7px 10px;
          font-family: "poppins";
          outline: none;

          &::placeholder {
            font-family: "poppins";
            opacity: 0.4;
          }
        }
        .malade {
          input {
            width: 250px;
          }
        }
        .horaire {
          input {
            width: 100%;
          }
        }
        button {
          margin: 30px auto 0 auto;
          width: 120px;
          background-color: $orange;
          color: white;
          border: none;
          line-height: 32px;
          border-radius: 6px;
          transition: all 200ms ease;

          &:hover {
            box-shadow: 0 0 15px rgba($color: $orange, $alpha: 0.6);
          }
        }
      }
    }
  }
}
.dashbord {
  height: 100vh;
  width: 100vw;
  background-color: rgb(245, 245, 245);
  color: $black;
  display: flex;

  .dashbord-menu {
    min-width: 16%;
    width: 280px;
    height: 100%;
    background-color: $black;
    border-radius: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 40px;
    color: white;

    > a {
      width: fit-content;
      margin: 10px auto 30px auto;
    }

    .user {
      display: flex;
      align-items: center;
      margin: 20px 0;
      // background-color: #1d1b1b;

      .user-img {
        height: 45px;
        width: 45px;
        border-radius: 6px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: -5px 8px 15px rgba($color: $black, $alpha: 0.3);

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }

      .user-detail {
        margin-left: 15px;
        * {
          margin: 0;
        }

        p {
          color: $blue;
          padding-left: 8px;
          font-weight: 300;
          font-style: italic;
        }
      }
    }

    h2 {
      font-weight: 700;
      font-size: 20pt;
      padding-left: 20px;
      margin-top: 30px;
    }

    ul {
      margin: 0;
      padding-left: 35px;
      height: inherit;
      list-style: none;

      a {
        color: white;
        text-decoration: none;
      }

      li {
        width: 85%;
        font-size: 11pt;
        cursor: pointer;
        padding-left: 20px;
        font-weight: 400;
        line-height: 30px;
        margin: 20px 0;
        border-radius: 6px;
        background-color: transparent;
        transition: all 200ms ease;

        &:hover {
          background-color: rgba($color: white, $alpha: 0.06);
        }
      }
      .active {
        font-weight: 500;
        color: $black;
        background-color: white;
        border-left: 3px solid $blue;
        border-radius: 0 6px 6px 0;
        &:hover {
          background-color: white;
        }
      }
    }

    button {
      cursor: pointer;
      border: none;
      line-height: 38px;
      font-size: 12pt;
      font-weight: 400;
      border-radius: 8px;
      color: white;
      background-color: $orange;
      margin: auto;
      width: 200px;
    }
  }

  .dashbord-content {
    width: 80%;
    padding: 60px;
    display: flex;
    flex-direction: column;

    h2 {
      margin-left: 20px;
    }

    .shoot-by {
      margin: 0 0 0 auto;
      width: 120px;
      height: 30px;
      font-family: "poppins";
      padding-left: 5px;
      border-color: #444;
      border-radius: 6px;
      color: #444;
      outline: none;
    }

    .table {
      padding: 10px 40px 10px 0;
      height: inherit;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        // border: 1px solid rgba($color: $black, $alpha: 0.3);
        background-color: transparent;
        background-color: rgba($color: $black, $alpha: 0.1);
        width: 6px;
        border-radius: 5px;
      }
      &::-webkit-scrollbar-thumb {
        background: $black;
        width: 10px;
      }

      table {
        text-transform: capitalize;
        border-collapse: separate;
        border-spacing: 0 10px;
        font-size: 10pt;
        width: 100%;
        text-align: left;

        border-collapse: separate;
        border-spacing: 10;

        th {
          text-indent: 3px;
          padding: 0 0 20px 0;
          opacity: 0.4;
          font-weight: 400;

          &:first-child {
            padding-left: 35px;
          }
          &:last-child {
            text-align: center;
          }
        }

        tbody {
          tr {
            padding: 10px 0;
            cursor: pointer;

            td {
              &:first-child {
                padding-left: 35px;
              }
            }

            &:hover {
              background-color: rgba(238, 238, 238, 0.467);
              line-height: 36px;
            }
          }
        }
        td {
          line-height: 36px;
          font-weight: 600;

          div {
            display: flex;
            justify-content: center;
            align-items: center;

            hr {
              margin: 0 15px;
              opacity: 0.5;
              height: 10px;
              width: 0;
              border: none;
              border-left: 1px solid #999;
            }

            button {
              height: 32px;
              width: 32px;
              background: none;
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 6px;
              border: none;
              cursor: pointer;

              svg {
                height: 18px;
                fill: #2c72dc !important;
              }
              #delete-btn {
                * {
                  fill: #444;
                }
              }
              #edit-btn {
                * {
                  fill: #444;
                }
              }

              &:hover {
                #delete-btn {
                  * {
                    fill: #eb6666;
                  }
                }
                #edit-btn {
                  * {
                    fill: #5d8bb9;
                  }
                }
              }
            }
          }
        }
      }
    }

    > button {
      border: none;
      background-color: #5add62;
      width: 200px;
      line-height: 40px;
      color: white;
      font-weight: 500;
      border-radius: 6px;
      cursor: pointer;
      margin: 20px 80px 0 auto;

      &:hover {
        box-shadow: 5px 5px 10px rgba(10, 221, 10, 0.3);
      }
    }
  }

  .agenda {
    height: 100vh;
    width: calc(100vw - 280px);
    padding: 20px 40px 0 80px;
    display: flex;
    overflow: hidden;

    .agenda-container {
      display: flex;
      flex-direction: column;
      width: inherit;

      .agenda-header {
        margin-top: 40px;

        .title {
          h1 {
            margin-bottom: 0;
          }
          p {
            margin-top: 0;
            opacity: 0.5;
            font-size: 14px;
            font-weight: 500;
            text-indent: 20px;
          }
        }

        .agenda-statistique {
          display: flex;
          justify-content: space-between;
          width: 100%;
          margin-left: 10px;
          margin-right: 10px;

          .agenda-state {
            display: flex;
            flex-direction: column;
            margin: 20px 10px;

            > div {
              display: flex;
              align-items: center;

              h2 {
                font-size: 30px;
                margin-bottom: 0;
                margin-left: 15px;
                margin-top: 0;
              }
              span {
                font-size: 14px;
                font-weight: 500;
                opacity: 0.4;
                margin-left: 8px;
                margin-top: 0;
                transform: translateY(8px);
              }

              img {
                height: 30px;
              }
            }

            p {
              font-size: 14px;
              opacity: 0.5;
              margin-top: 0;
              margin-left: 50px;
            }
          }
        }
      }

      .agenda-rdv {
        padding: 0 25px;
        margin: 10px 0;

        h2 {
          margin: 0;
        }

        .my-rgv {
          display: flex;
          flex-direction: column;
          width: inherit;
          margin-top: 20px;
          gap: 16px;

          .small-rdv {
            width: 100%;
            background: white;
            border-radius: 6px;
            display: flex;
            cursor: pointer;
            align-items: center;
            height: 55px;
            padding: 0 18px 0 25px;
            box-shadow: 2px 2px 6px rgba($color: $black, $alpha: 0.05);

            &:hover {
              box-shadow: 2px 2px 15px rgba($color: $black, $alpha: 0.12);
            }

            .time {
              opacity: 0.2;
              font-size: 14px;
              letter-spacing: 2px;
              min-width: 150px;
              font-weight: 500;
            }
            .user {
              min-width: fit-content;
              display: flex;
              align-items: center;
              .user-img {
                background-color: gray;
                border-radius: 50%;
                height: 32px;
                width: 32px;
                overflow: hidden;

                img {
                  object-fit: cover;
                  height: 100%;
                  width: 100%;
                }
              }
              .user-name {
                margin-left: 15px;
                font-weight: 600;
              }
            }
            .date {
              text-align: center;
              opacity: 0.5;
              font-weight: 600;
              font-size: 14px;
              width: inherit;
            }
            .statuts {
              min-width: 140px;

              img {
                width: 10px;
              }

              > div {
                font-size: 12px;
                border-radius: 6px;
                padding: 4px 10px;
                width: fit-content;
                display: flex;
                align-items: center;
                gap: 8px;
              }
            }
            .completé {
              color: #23c85a;
              background-color: #23c85a1c;
            }
            .refusé {
              color: #de5959;
              background-color: #de595921;
            }
            .en-attente {
              color: #dcc817;
              background-color: #dcc8171e;
            }
            .passé {
              color: #6e6e6e;
              background-color: #6e6e6e15;
            }
            .detail-btn {
              height: 20px;
              width: 4px;
              position: relative;
              opacity: 0.3;
              cursor: pointer;

              &:hover {
                opacity: 1;
              }

              &::after,
              &::before {
                content: "";
                position: absolute;
                height: 4px;
                width: 4px;
                border-radius: 4px;
                background-color: gray;
              }
              &::before {
                top: 0;
              }
              &::after {
                bottom: 0;
              }
              div {
                height: 4px;
                width: 4px;
                border-radius: 4px;
                background-color: gray;
                margin: 8px 0;
              }
            }
          }
        }
      }
    }
    .next-rdv {
      width: 600px;
      margin-top: 40px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      padding: 20px 40px;
      h2 {
        margin: 20px 0;
        font-size: 28px;
      }
      .rdv {
        border-radius: 12px;
        width: 100%;
        height: 550px;
        background-color: white;
      }
    }
    .date-container {
      position: absolute;
      display: flex;
      right: 100px;
      top: 40px;
      gap: 30px;

      > div {
        display: flex;
        align-items: center;

        span {
          font-weight: 600;
          margin-left: 10px;
        }

        img {
          height: 20px;
        }
      }
    }
  }
}
.backdrop {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba($color: black, $alpha: 0.4);
  z-index: 9999;

  .backdrop-content {
    background-color: white;
    border-radius: 6px;
    padding: 30px 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .title {
      text-align: center;
      margin: 20px;
      margin-top: 0;

      h1 {
        margin: 0;
        color: red;
      }
      p {
        margin: 0;
        font-size: 10pt;
        opacity: 0.5;
      }
    }

    // .btns{
    .n {
      color: #444;
      font-size: 12pt;
      font-weight: 500;
      border: 2px solid #444;
      border-radius: 6px;
      line-height: 30px;
      width: 80px;
      background: none;
      margin: 0 10px;
      cursor: pointer;
    }
    .y {
      color: white;
      font-size: 12pt;
      font-weight: 500;
      border: 2px solid red;
      border-radius: 6px;
      line-height: 30px;
      width: 80px;
      background: red;
      margin: 0 10px;
      cursor: pointer;
    }
    .edit {
      border-color: rgb(56, 106, 222);
      background-color: #386ade;

      &:hover {
        opacity: 0.9;
      }
    }
    .add {
      border-color: #5add62;
      background-color: #5add62;

      &:hover {
        opacity: 0.9;
      }
    }
    .order {
      width: 160px;
      border-color: #5add62;
      background-color: #5add62;

      &:hover {
        opacity: 0.9;
      }
    }

    form {
      display: flex;

      div:first-child,
      div:nth-child(2) {
        margin: 0 20px 20px 20px;
        display: flex;
        flex-direction: column;
        height: inherit;
        justify-content: space-between;
      }

      input,
      textarea {
        border: none;
        border-bottom: 1px gray solid;
        padding: 8px;
        margin: 10px 0;
        outline: none;
        font-family: "Poppins";
        color: #444;

        &:focus::placeholder {
          opacity: 1;
        }

        &::placeholder {
          opacity: 0.5;
          font-family: "Poppins";
          font-weight: 500;
        }
      }

      textarea:nth-child(1) {
        height: 37px + 20px + 16px;
      }
      textarea:nth-child(2) {
        height: 100%;
      }

      .btns {
        flex-direction: row;
        margin: 10px 0;
      }
    }
  }
}

// ---------Log---------
@media only screen and (max-width: 750px) {
  .logging-page .loggin-bg {
    display: none;
  }
  .logging-page .logging-container {
    padding: 120px 20px 30px 20px;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    transform: translateX(-50%);
    align-items: flex-start;
  }
  .logging-page .logging-container .logging-content {
    width: fit-content;
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
  }
}
@media only screen and (max-width: 450px) {
  .logging-page .logging-container .logging-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
  }
  .logging-page .logging-container .logging-content form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 10px 30px 10px 30px;
  }
}
// ---------General class---------
.hide {
  display: none;
}
.inactive {
  opacity: 0.5 !important;
  pointer-events: none !important;
}
