.logging-page {
  font-family: "Poppins" !important;
  height: 100vh;
  width: 100vw;
  background-color: #6acdf6;
  z-index: 0;
}
.logging-page .loggin-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  background-color: #6acdf6;
  z-index: 0;
}
.logging-page .nav-logo {
  position: relative;
  z-index: 9999;
  margin: auto;
}
.logging-page .loggin-bg .gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: linear-gradient(90deg, #6acdf6 60%, #6accf600 100%);
}
.logging-page .loggin-bg img {
  position: absolute;
  right: 0;
  top: -100px;
  height: 130%;
  z-index: -1;
}
.logging-page .logging-container {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 1300px;
  padding-top: 120px;
  padding-bottom: 150px;
  padding-left: 30px;
  left: 50%;
  display: flex;
  transform: translateX(-50%);
  align-items: flex-start;
}
.logging-page .logging-container .logging-content {
  width: fit-content;
  display: flex;
  flex-direction: column;
  color: white;
}
.logging-page .logging-container .logging-content a {
  margin: 10px 10px 10px auto;
  color: #ff5e20;
  font-size: 11pt;
}
.logging-page .logging-container .logging-content .title {
  margin: 20px 0;
}
.logging-page .logging-container .logging-content .title p {
  color: rgba(255, 255, 255, 0.8);
  padding-left: 20px;
  font-size: 12pt;
  font-weight: 280;
  margin: 5px 0 0 0;
}
.logging-page .logging-container .logging-content .title h1 {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 34pt;
  letter-spacing: normal !important;
  margin: 5px 0 0 0;
}
.logging-page .logging-container .logging-content form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 360px;
  padding: 10px 30px 10px 30px;
}
.logging-page .logging-container .logging-content form input {
  width: 100%;
  outline: none;
  font-family: "Poppins";
  border-radius: 10px;
  padding: 10px 14px;
  margin: 10px 0;
  color: white;
  border: 1px solid rgba(248, 250, 252, 0.5);
  background-color: rgba(248, 250, 252, 0.07);
}
.logging-page .logging-container .logging-content form input::placeholder {
  color: white;
  opacity: 0.8;
  font-weight: 280;
}
.logging-page .logging-container .logging-content form input[name="street"],
.logging-page .logging-container .logging-content form input[name="city"],
.logging-page .logging-container .logging-content form input[name="firstName"],
.logging-page .logging-container .logging-content form input[name="lastName"] {
  width: 46%;
}
.logging-page .logging-container .logging-content form > div {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  padding-left: 10px;
}
.logging-page .logging-container .logging-content form .sign-in-btn {
  width: 100%;
  cursor: pointer;
  background-color: #ff5e20;
  border: none;
  border-radius: 10px;
  font-family: "Poppins";
  color: white;
  line-height: 35px;
  margin: 20px 0 0 0;
}
.logging-page .logging-container .logging-content form .sign-up-btn {
  width: 200px;
  cursor: pointer;
  background-color: #ff5e20;
  border: none;
  border-radius: 10px;
  font-family: "Poppins";
  color: white;
  line-height: 35px;
  margin: 20px auto 0 auto;
}
.logging-page .logging-container .logging-content form .google-sign-in-btn {
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: none;
  border-radius: 10px;
  font-family: "Poppins";
  color: #3e4653;
  line-height: 35px;
  margin: 10px 0 0 0;
}
.logging-page .logging-container .logging-content form .google-sign-in-btn img {
  height: 18px;
  margin-right: 10px;
}
.logging-page .logging-container .logging-content form p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 10pt;
  font-weight: 280;
  margin: 25px auto 0 auto;
}
.hide {
  display: none;
}
.inactive {
  opacity: 0.5 !important;
  pointer-events: none !important;
}
