body {font-family: "Times New Roman", Georgia, Serif;}
 h1, h2, h3, h4, h5, h6 {
  font-family: "Segoe UI", Arial, sans-serif;
  letter-spacing: 5px;
}

nav {
    position: -webkit-sticky;
    position: sticky;
    /* sticky or fixed are fine */
    position: fixed;
    top: 0;
    height: 69px;
    width: 100%;
    transition: background .5s; /* control how smooth the background changes */
  }
  
  nav.scrolled {
    background: #1DA1F2;
  }
  
  
  .clsMenuHeader{
      position: absolute;
      top: 14px;
      left: 10%;
      font-weight: bold;
  }
  .clsMenuHeaderButtons{
      position: absolute;
      right: 100px;
  }
  .clsMenuHeader{
    position: absolute;
    right: 5%;
  }
.clsDefinition{
    position: absolute;
    font-weight: bold;
    font-size: 47;
    top: 80px;
    left: 15%;
    width: 500px;
    color: white;
}
.clsLogo{
    position: absolute;
    right: 0%;
}
.FormulaireRegister {
  position: absolute;
  top: 300px;
  left: 15%;
  width: 350px;
  height: 500px;
  border-radius: 20px;
  padding: 40px;
  box-sizing: border-box;
  background: #ecf0f3;
}

.FormulaireInscription {
  position: absolute;
  top: 300px;
  left: 6%;
  width: 350px;
  height: 500px;
  border-radius: 20px;
  padding: 40px;
  box-sizing: border-box;
  background: #ecf0f3;
}

.FormulaireIndentified {
  position: absolute;
  top: 300px;
  right: 10%;
  width: 350px;
  height: 370px;
  border-radius: 20px;
  padding: 40px;
  box-sizing: border-box;
  background: #ecf0f3;
}

.brand-title {
  margin-top: 10px;
  font-weight: 900;
  font-size: 1.8rem;
  color: #1DA1F2;
  letter-spacing: 1px;
}

.inputs {
  text-align: left;
  margin-top: 30px;
}

label, .inputForm, .buttonForm {
  display: block;
  width: 100%;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

.inputForm::placeholder {
  color: gray;
}

.inputForm {
  background: #ecf0f3;
  padding: 10px;
  padding-left: 20px;
  height: 50px;
  font-size: 14px;
  border-radius: 50px;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

.buttonForm {
  color: white;
  margin-top: 20px;
  background: #1DA1F2;
  height: 40px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 900;
  box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
  transition: 0.5s;
}

.buttonForm:hover {
  box-shadow: none;
}

.aForm {
  position: absolute;
  font-size: 8px;
  bottom: 4px;
  right: 4px;
  text-decoration: none;
  color: black;
  background: yellow;
  border-radius: 10px;
  padding: 2px;
}

.TextDocteur{
  width: 40%;
  float: left;
}

.TextDocteurImgs{
  width: 10%;
}

#divTxtTextDocteur,#divImgsTextDocteur{
  display: inline;
}

.cls3divssameline{
  display: table;
  width: 100%;
  table-layout: fixed;
  border-spacing: 10px;
}
.clsblocks{
  display: table-cell;
}
.clsdivintodivsruis{
  margin: 4%;
  padding: 10%;
  border-radius: 10px;
  border: solid 1px #d9d9d9;
  height: 500px;
}
.clsdivintodivsruisdoc{
  margin: 4%;
  border-radius: 10px;
  border: solid 1px #d9d9d9;
  height: 500px;
}
.clsdivintodivsruisfooter{
  margin: 10%;
  padding: 13%;
  width: 400px !important;
  border: solid 1px #d9d9d9;
}
.clsimgdocteurs{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100% !important;
}
#idwhuywe,#idwhuywevedio{
  display: inline;
}
.clswhuywe{
  float: left;
  width: 50% !important;
}
.clswhuywevedio{
  float: right;
  width: 40%;
  margin-right: 10%;
}
.clsfooterindex{
  width: 100%;
  height: 400px;
  background-color: #ccddff;
}
.clsdivmenufooter{
  width: 100%;
  height: 20px;
  background-color: #ccddff;
}
.clsdivlastfooter{
  width: 100%;
  height: 60px;
  background-color: #0000ff;
}
.clsdivdocteurlogin{
  width: 100%;
  height: 300px;
  border-radius: 10px;
  border: solid 1px #1DA1F2;
  margin-top: 15px;
  margin-bottom: 15px;
}
.clsimgdocteursListe{
  border-radius: 10px;
  height: 100% !important;
}
.textdocteurliste{
  padding-top: 15px;
  float: right;
  width: 70%;
}